@import"../variables";

footer {
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid $base01-background;

  small {
    display: block;
    margin: .5rem 0;
  }
}
