@import "../utils/variables";

#video {
  position: relative;

  h4, h5, h6 {
    font-weight: 600;
  }

  .metadata {
    margin-bottom: 2rem;
  }

  // Content warning labels
  .cw-notifier {
    padding: .125rem .25rem;
    font-size: 85%;
    color: $content-warning-label-color;
    background-color: $content-warning-label-background;
    text-decoration: none;
    cursor: pointer;
  }
}

// Video wrapper.
//
// @see https://alistapart.com/article/creating-intrinsic-ratios-for-video

.video-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
}
