@import "../utils/variables";

#video-tag-list {
  .tag {
    display: inline-block;
    margin-right: .5rem;
    padding: .125rem .25rem;
    font-size: 85%;
    background-color: $label-color;

    &:last-child {
      margin-right: 0;
    }

    a {
      text-decoration: none;
    }
  }
}
