@import "../utils/variables";

#video-content-warning-list {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $label-color;

  .content-warning {
    margin-right: .5rem;
    padding: .125rem .25rem;
    font-size: 85%;
    color: $content-warning-label-color;
    background-color: $content-warning-label-background;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      text-decoration: none;
    }
  }

  .content-warning-button {
    margin-top: 1rem;
    font-size: 85%;

    a {
      cursor: pointer;
    }
  }
}
