// Variables
//
// Global variables for the whole projects.

// Colours based on the base16 styleguide
// https://chriskempson.github.io/base16/

$base00-background: #090300;
$base01-background: #3a3432;
$base02-background: #4a4543;
$base03-background: #5c5855;
$base04-background: #807d7c;
$base05-background: #a5a2a2;
$base06-background: #d6d5d4;
$base07-background: #f7f7f7;
$base08-background: #db2d20;
$base09-background: #e8bbd0;
$base0A-background: #fded02;
$base0B-background: #01a252;
$base0C-background: #b5e4f4;
$base0D-background: #01a0e4;
$base0E-background: #a16a94;
$base0F-background: #cdab53;

$base00: #090300;
$base01: #3a3432;
$base02: #4a4543;
$base03: #5c5855;
$base04: #807d7c;
$base05: #a5a2a2;
$base06: #d6d5d4;
$base07: #f7f7f7;
$base08: #db2d20;
$base09: #e8bbd0;
$base0A: #fded02;
$base0B: #01a252;
$base0C: #b5e4f4;
$base0D: #01a0e4;
$base0E: #a16a94;
$base0F: #cdab53;

$link-color: $base09;
